@import url("https://use.typekit.net/vaf8tjf.css");


$primary-color: #2c3e50;
$secondary-color: #34495e;
$header-bg-color: #f4f4f9;
$border-color: #e0e0e0;
$background-color: #f8f9fa;
$text-color: #333;


$hover-bg-color: #d1d1d1;
$tab-active-color: lighten($primary-color, 10%);


$font-family: "nunito-sans", sans-serif;
$font-weight: 300;
$font-style: normal;


$padding: 20px;
$border-radius: 8px;
